NUVEMSHOP_STORE_ID=123456
NUVEMSHOP_ACCESS_TOKEN=seu_access_token
NUVEMSHOP_USER_AGENT=ad05experts@gmail.com

STORE_NAME=Loja da Mistica
STORE_URL=https://www.sualoja.com.br
DEFAULT_BRAND=Loja da Mistica
CURRENCY=BRL
LANGUAGE=pt-BR
PAGE_SIZE=200
